div {
  color: white;
}

.stat {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
