<div class="body-div">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <div class="login-desc">
    <h1>Sign in with your steam account to get your Counter-Strike stats!</h1>
  </div>
  <div class="login-box">
    <button class="steam-button" (click)="loginWithSteam()">
      <img
        src="https://community.akamai.steamstatic.com/public/images/signinthroughsteam/sits_01.png"
        alt="Steam Login"
      />
    </button>
  </div>
</div>
