@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #4c0059, #000 90%) !important;
  display: flex;
  flex-direction: column;
  cursor: default !important;
  font-family: 'Raleway', sans-serif !important;
}
